:root {
    --clr-background: #181C14;
    --clr-primary-1: #ECDFCC;
    --clr-secondary-1: #697565;
    --clr-secondary-2: #3C3D37;
}

body {
    background-color: var(--clr-background);
    color: var(--clr-primary-1);
    font-family: "Gill Sans", sans-serif;
}

.language {
    background-color: var(--clr-secondary-1);
    border-radius: 2px;
    color: var(--clr-background);
    font-size: small;
    font-weight: bold;
    margin: 2px;
    padding: 2px;
}

.language.invert-primary {
    color: var(--clr-primary-1)
}

.project-list div {
    height: 2em;
}

.project-list div.hide {
    display: none;
}